<section class="login py-10" data-aos="fade-up">
    <h1 class="section-heading mt-20 text-center"
        [innerHTML]="'PAGES.FORGOT_PASSWORD.TITLE' | translate"></h1>
    <div class="px-4 max-w-5xl mx-auto">
        <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="flex flex-col mt-6 max-w-800 mx-auto">
            <mat-form-field appearance="outline">
                <mat-label>{{'PAGES.FORGOT_PASSWORD.FORM.YOUR_EMAIL' | translate}}</mat-label>
                <input formControlName="email" matInput placeholder="Email">
                <mat-error *ngFor="let validation of errorMessages"
                           class="text-base">
                    <ng-container *ngIf="forgotPassword.get('email')?.hasError(validation.type)"
                                  class="error-message">
                        {{validation.message}}
                    </ng-container>
                </mat-error>
            </mat-form-field>
            <button  class="px-16 py-4 app-button mt-2"
                    type="submit" [disabled]="formSubmitted">
                <span *ngIf="!formSubmitted" [innerHTML]="'PAGES.REGISTRATION.SUBMIT'| translate"></span>
                <mat-spinner *ngIf="formSubmitted" color="primary" diameter='30' strokeWidth='5' class="mx-auto"></mat-spinner>
            </button>
        </form>
    </div>
</section>
