::ng-deep .mat-form-field-label sup {
    color: red;
    font-size: 85%;
    position: relative;
    top: -.25em;
}

textarea:focus, input:focus {
    @apply outline-black;
}

/*Custom mat colors*/
:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick,
:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label, .mat-error {
    color: #b3000f !important;
}
