@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/**
For adding global styles
 */
@layer base {
    .loader {
        width: 100%;
        z-index: 500;
        background: white;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            max-width: 200px;
        }
    }
}
