<section class="login py-10" data-aos="fade-up">
    <h1 [innerHTML]="'PAGES.RESET_PASSWORD.TITLE' | translate"
        class="section-heading mt-20 text-center"></h1>
    <div class="px-4 max-w-5xl mx-auto">
        <form (ngSubmit)="onSubmit()" [formGroup]="resetPassword" class="flex flex-col mt-6 max-w-800 mx-auto">
            <mat-form-field appearance="outline" class="mb-2 sm:pr-4 w-full">
                <mat-label [innerHTML]="'PAGES.REGISTRATION.EMAIL'| translate" class="input-text"></mat-label>
                <input class="input-text" formControlName="email" matInput type="text">
                <mat-error *ngIf="(resetPassword.controls['email'].hasError('required')) || (resetPassword.controls['email'].hasError('pattern'))"
                           class="text-base">Please Enter a valid email.
                </mat-error>
            </mat-form-field>
            <div class="flex flex-col" formGroupName="passwords">
                <!--            OriginalPasswordField-->
                <mat-form-field appearance="outline">
                    <mat-label>{{'PAGES.RESET_PASSWORD.FORM.PASSWORD' | translate}}</mat-label>
                    <input class="input-text" type="password" formControlName="originalPassword"  matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngFor="let validation of errorMessages.originalPassword"
                               class="text-base">
                        <ng-container *ngIf="resetPassword.get('passwords.originalPassword')?.hasError(validation.type)"
                                      class="error-message">
                            {{validation.message}}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
                <!--            ConfirmPasswordField-->
                <mat-form-field appearance="outline">
                    <mat-label>{{'PAGES.RESET_PASSWORD.FORM.CONFIRM_PASSWORD' | translate}}</mat-label>
                    <input class="input-text" type="password" formControlName="confirmPassword"  matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngFor="let validation of errorMessages.confirmPassword"
                               class="text-base">
                        <ng-container *ngIf="resetPassword.get('passwords.confirmPassword')?.hasError(validation.type)"
                                      class="error-message">
                            {{validation.message}}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>

            <button [innerHTML]="'PAGES.RESET_PASSWORD.FORM.SUBMIT'| translate" class="px-16 py-4 app-button mt-2"
                    type="submit">
            </button>
        </form>
    </div>
</section>
