.height-300 {
    height: 300px;
}

table {
    max-width: 600px;
    margin:auto;
    th {
        text-align: center;
        padding: 20px;
    }
    td {
        padding: 20px;
        text-align: center;
    }
}

.cursor-not-allowed {
    cursor: not-allowed;
}
